.clients {
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-areas:
    "header"
    "clientWrapper"
    "textWrapper"
    "smallWrapper";
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 250px 180px 120px;
  &::before {
    content: "";
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    top: 9rem;
    background-color: #bc2e3a;
    height: 177px;
    width: 177px;
    transform-origin: 0 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  &::after {
    content: "";
    z-index: 0;
    display: block;
    background-color: #171717;
    position: absolute;
    top: -75px;
    right: -75px;
    width: 150px;
    height: 150px;
    transform-origin: center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  & > * {
    z-index: 3;
  }
}
.clients__header {
  grid-area: header;
  font-size: 3.5rem;
  @include grid-flex-center;
}
.clients__clientsWrapper {
  grid-area: clientWrapper;
  position: relative;
  @include grid-flex-center;
}
.clients__client {
  &--big {
    position: absolute;
    grid-area: image;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
  }
  &--small {
    position: relative;
    border-width: 5px;
    width: 70px;
    height: 70px;
    box-shadow: none;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  transform-origin: center;
}

.clients__textWrapper {
  grid-area: textWrapper;
  color: #6a6a6a;
  font-family: "Open Sans";
  padding: 5px 15px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    background-image: url("/assets/images/quote.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.clienct__quote {
  font-size: 1.4rem;
  line-height: 1.5rem;
  padding: 3px 0;
}
.clients__clientName {
  font-family: "Open Sans Bold";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 3px 0;
}
.clients__smallWrapper {
  grid-area: smallWrapper;
  @include grid-flex-center;
  justify-content: space-between;
  padding: 0 10px;
}
@media (orientation: portrait) and (min-width: 768px) {
  .clients {
    grid-template-rows: 9rem 500px 180px 120px;
    justify-items: center;
    &::before {
      top: 9.5rem;
      width: 350px;
      height: 350px;
    }
    &::after {
      top: -150px;
      right: -150px;
      width: 300px;
      height: 300px;
    }
  }
  .clients__textWrapper {
    padding: 15px 150px;
    &::after {
      height: 40px;
      width: 40px;
      left: 100px;
      top: -15px;
    }
  }
  .clients__smallWrapper {
    justify-content: space-around;
    width: 50vh;
  }
  .clients__quote {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
@media (orientation: portrait) and (min-width: 1024px) {
  .clients {
    grid-template-areas:
      "header header"
      "clientWrapper textWrapper"
      "clientWrapper smallWrapper ";
    justify-items: flex-start;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 9rem 200px 130px;
    overflow-y: visible;
    &::before {
      top: -10%;
      width: 400px;
      height: 400px;
    }
  }
  .clients__client--big {
    width: 220px;
    height: 220px;
  }
  .clients__smallWrapper {
    justify-content: flex-start;
  }
  .clients__client--small {
    margin: 0 15px;
  }
  .clients__textWrapper {
    max-width: 460px;
    padding: 15px;
    &::after {
      height: 40px;
      width: 40px;
      left: -20px;
      top: -20px;
    }
  }
}
@media (orientation: landscape) {
  .clients {
    grid-template-areas:
      "header header"
      "clientWrapper textWrapper"
      "clientWrapper smallWrapper ";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 9rem 190px 100px;
    &::before {
      top: 9.5rem;
      width: 200px;
      height: 200px;
    }
  }
  .clients__client--small {
    margin: 0 15px;
  }
  .clients__smallWrapper {
    justify-content: flex-start;
  }
  .clients__textWrapper {
    &::after {
      top: -15px;
      left: -15px;
      height: 30px;
      width: 30px;
    }
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .clients {
    max-height: 795px;
    justify-items: flex-start;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 9rem 200px 130px;
    overflow-y: visible;
    &::before {
      top: -10%;
      width: 400px;
      height: 400px;
    }
    &::after {
      top: -150px;
      right: -150px;
      width: 300px;
      height: 300px;
    }
  }
  .clients__client--big {
    width: 220px;
    height: 220px;
  }
  .clients__smallWrapper {
    justify-content: flex-start;
  }
  .clients__client--small {
    margin: 0 15px;
  }
  .clients__textWrapper {
    padding: 15px;
    max-width: 500px;
  }
  .clients__quote {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .clients {
    grid-template-areas:
      "header header"
      "clientWrapper ."
      "clientWrapper textWrapper"
      "clientWrapper smallWrapper"
      "clientWrapper .";
    grid-template-columns: 600px 1fr;
    grid-template-rows: 9rem 130px 150px 120px 100px;
    &::before {
      top: -15%;
      width: 600px;
      height: 600px;
    }
    &::after {
      top: -200px;
      right: -200px;
      width: 400px;
      height: 400px;
    }
  }
  .clients__header {
    font-size: 6.2rem;
  }
  .clients__client--big {
    width: 350px;
    height: 350px;
  }
  .clients__textWrapper {
    max-width: 657px;
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .clients {
    &::after {
      top: -250px;
      right: -250px;
      width: 500px;
      height: 500px;
    }
  }
}
