*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  width: 100vw;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 1.6rem;
  position: relative;
  background-color: #222222;
}
