*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "LemonMilkBold";
  src: url("/assets/fonts/Lemon-Milk-bold.ttf.woff") format("woff");
}
@font-face {
  font-family: "Lato Black", sans-serif;
  src: url("/assets/fonts/lato-black.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Bold", sans-serif;
  src: url("/assets/fonts/opensans-bold.woff") format("woff");
}
@font-face {
  font-family: "Peace Sans";
  src: url("/assets/fonts/peace_sans.woff") format("woff");
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
  width: 100vw;
  scroll-behavior: smooth;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 1.6rem;
  position: relative;
  overflow-x: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.47);
  background-color: #fff;
  color: #242424;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  &--red {
    background-color: #bc2e3a;
    color: #fff;
  }
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(1.4);
    -webkit-filter: brightness(1.4);
  }
  z-index: 15;
}
.header2 {
  color: #494949;
  font-family: "Peace Sans", sans-serif;
  font-size: 4.2rem;
  font-weight: 400;
}
@media (orientation: portrait) and (min-width: 768px) {
  .header2 {
    font-size: 6.2rem;
  }
}
@media (orientation: landscape) {
  .header2 {
    font-size: 4.2rem;
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .header2 {
    font-size: 6.2rem;
  }
}
