.team {
  position: relative;
  z-index: 1;
  display: grid;
  width: 100vw;
  height: 400px;
  max-height: 100vh;
  grid-template-areas:
    "header"
    "slider";
  grid-template-rows: 7rem 1fr;
  grid-template-columns: 1fr;
  padding: 0 5px;
  background-color: #f5f5f5;
  padding-bottom: 20px;
}
.team__slide {
  grid-area: slider;
  display: grid;
  grid-template-areas: " arrowLeft wrapper arrowRight";
  grid-template-columns: 25px 1fr 25px;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.team__arrow {
  width: 0;
  height: 0;
  align-self: center;
  border: none;
  &--arrowLeft {
    grid-area: arrowLeft;
    border-top: 24px solid transparent;
    border-right: 24px solid #424240;
    border-bottom: 24px solid transparent;
  }
  &--arrowRight {
    grid-area: arrowRight;
    border-top: 24px solid transparent;
    border-left: 24px solid #424240;
    border-bottom: 24px solid transparent;
  }
}
.team__header {
  grid-area: header;
  font-size: 3rem;
  text-align: center;
  @include grid-flex-center;
}
.team__sliderWrapper {
  grid-area: wrapper;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.team__member {
  position: absolute;
  width: 190px;
  height: 190px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  &--active {
    opacity: 1;
  }
  &--left {
    opacity: 0;
    transform: translate(-100vw, -50%);
    -webkit-transform: translate(-100vw, -50%);
    -moz-transform: translate(-100vw, -50%);
    -ms-transform: translate(-100vw, -50%);
    -o-transform: translate(-100vw, -50%);
  }
  &--right {
    opacity: 0;
    transform: translate(100vw, -50%);
    -webkit-transform: translate(100vw, -50%);
    -moz-transform: translate(100vw, -50%);
    -ms-transform: translate(100vw, -50%);
    -o-transform: translate(100vw, -50%);
  }
  transition: ease 1s;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -ms-transition: ease 1s;
  -o-transition: ease 1s;
}
.team__memberImage {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-45deg) translate(-50%, -50%);
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
}
.team__memberName {
  transition: 0.4s linear;
  width: 180px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;

  &::before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #252525;
    transform: skew(38deg);
    -webkit-transform: skew(38deg);
    -moz-transform: skew(38deg);
    -ms-transform: skew(38deg);
    -o-transform: skew(38deg);
  }
  transform: translateX(-50%);
}
.team__memberRole {
  width: 90px;
  height: 20px;
  position: absolute;
  bottom: -18px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 31.97px;
  &::before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #bc2e3a;
    transform: skew(38deg);
    -webkit-transform: skew(38deg);
    -moz-transform: skew(38deg);
    -ms-transform: skew(38deg);
    -o-transform: skew(38deg);
  }
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (orientation: portrait) and (min-width: 768px) {
  .team {
    height: 70vh;
    max-height: 795px;
    grid-template-rows: 12rem 1fr;
  }
  .team__header {
    font-size: 6.2rem;
  }
  .team__slide {
    grid-template-columns: 48px 520px 48px;
  }
  .team__arrow {
    cursor: pointer;
    &--arrowLeft {
      grid-area: arrowLeft;
      border-top: 48px solid transparent;
      border-right: 48px solid #424240;
      border-bottom: 48px solid transparent;
    }
    &--arrowRight {
      grid-area: arrowRight;
      border-top: 48px solid transparent;
      border-left: 48px solid #424240;
      border-bottom: 48px solid transparent;
    }
  }
  .team__member {
    height: 500px;
    width: 500px;
  }
  .team__memberName {
    width: 273px;
    height: 49px;
    font-size: 24px;
    line-height: 40px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }
  .team__memberRole {
    width: 169px;
    height: 30px;
    font-size: 19px;
    line-height: 31.97px;
    bottom: -25px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }
}
@media (orientation: landscape) {
  .team__slide {
    grid-template-columns: 25px 300px 25px;
  }
  .team__header {
    font-size: 4.2rem;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .team {
    height: 85vh;
    max-height: 795px;
    padding: 20px 0;
  }
  .team__header {
    font-size: 6.2rem;
  }
  .team__slide {
    grid-template-columns: 48px 520px 48px;
  }
  .team__arrow {
    cursor: pointer;
    &--arrowLeft {
      grid-area: arrowLeft;
      border-top: 48px solid transparent;
      border-right: 48px solid #424240;
      border-bottom: 48px solid transparent;
    }
    &--arrowRight {
      grid-area: arrowRight;
      border-top: 48px solid transparent;
      border-left: 48px solid #424240;
      border-bottom: 48px solid transparent;
    }
  }
  .team__member {
    height: 500px;
    width: 500px;
  }
  .team__memberName {
    width: 273px;
    height: 49px;
    font-size: 24px;
    line-height: 40px;
  }
  .team__memberRole {
    width: 169px;
    height: 30px;
    font-size: 19px;
    line-height: 31.97px;
    bottom: -25px;
  }
}
@media (orientation: landscape) and (min-width: 1200px) {
  .team__header {
    font-size: 6.2rem;
  }
}
@media (min-width: 1200px) {
  .team {
    justify-items: center;
  }
  .team__slide {
    grid-template-columns: 48px 1fr 48px;
    padding: 0 10px;
    max-width: 1280px;
  }
  .team__member {
    height: 500px;
    width: 500px;
    opacity: 0;
    &--active {
      opacity: 1;
      z-index: 10;
      .team__memberName,
      .team__memberRole {
        opacity: 1;
      }
    }
    &--left {
      z-index: 2;
      opacity: 0.7;
      transform: translate($leftMemberTransform, -50%) scale(0.45);
      -webkit-transform: translate($leftMemberTransform, -50%) scale(0.45);
      -moz-transform: translate($leftMemberTransform, -50%) scale(0.45);
      -ms-transform: translate($leftMemberTransform, -50%) scale(0.45);
      -o-transform: translate($leftMemberTransform, -50%) scale(0.45);
      .team__memberName,
      .team__memberRole {
        opacity: 0;
      }
    }
    &--right {
      z-index: 2;
      opacity: 0.7;
      transform: translate($rightMemberTransform, -50%) scale(0.45);
      -webkit-transform: translate($rightMemberTransform, -50%) scale(0.45);
      -moz-transform: translate($rightMemberTransform, -50%) scale(0.45);
      -ms-transform: translate($rightMemberTransform, -50%) scale(0.45);
      -o-transform: translate($rightMemberTransform, -50%) scale(0.45);
      .team__memberName,
      .team__memberRole {
        opacity: 0;
      }
    }
    &--behind {
      z-index: -1;
      transform: translate(-50%, -50%) scale(0);
      -webkit-transform: translate(-50%, -50%) scale(0);
      -moz-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      -o-transform: translate(-50%, -50%) scale(0);
      .team__memberName,
      .team__memberRole {
        opacity: 0;
      }
    }
  }
}
